<h1 class = "grid_10 push_1">Edit this fucking publication</h1>

<div class = "grid_10 push_1">
<%= form_for @publication do |form| %>
	<%= render form %>
<% end %>
</div>

<div class = "clear"></div>
<%= link_to 'Show', @publication %>
<%= link_to 'Back', publications_path %>
