<h1 class = "grid_10 push_1">Create a new post, genius. Or name all the members of the Wu-Tang Clan. Whatevs. Do something.</h1>

<div class = "grid_10 push_1">
<%= form_for @publication do |form| %>
	<%= render form %>
<% end %>
</div>