<div class="grid_10 push_1">
<!--      <hr id="book_spacer" /> -->
    <ul class="book_nav">
  <% @books.each do |book| %>
    <li><%= link_to book.title, book_path(book) %></li>
  <% end %>
    </ul>
  <hr id="book_spacer" />
</div>



<div class = "clear"></div>
<h1><%= @book.title %></h1>

<hr>
<% if user_signed_in? %>
<% if @book.user.email == current_user.email %>
  <%= link_to "edit this", edit_book_path %>
  <%= link_to 'Delete this Book', @book, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>

<br>
<br>
<hr>