<h1><%= @home.home_text %></h1>

<hr>
<% if user_signed_in? %>
<% if @home.user.email == current_user.email %>
  <%= link_to "edit this", edit_home_path %>
<% end %>
<% end %>

<br>
<br>
<hr>

<%= link_to 'Home', homes_path %>