<div class = "grid_12 spacer"></div>
<div id="sales_text" class="grid_10 push_1">
  <p><%= @homes.last.home_text %></p>
</div>

<div class = "clear"></div>
<div class = "grid_12 spacer"></div>
<div class = "grid_10 push_1 align_right"
  <p><%= link_to 'Edit this page', @homes.last if user_signed_in? %> <%= link_to 'See all pages', showall_homes_path if user_signed_in? %> <%= link_to 'Create a home page', new_home_path if user_signed_in? %></p>
</div>
